body {
    background-color: #efefef;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    .logoImg img {
        width: 80px;
        height: 80px;
        object-fit: contain;
        object-position: center center;
    }

}